{% extends 'result.html' %}

{% block content %}
    <h1>Bill for {{ units }} Units</h1>

    <p class="lead">
        Calculation Logic:
        First 75 Unit Price = 3.80 tk, 
        Next 125-200 Per Unit Price = 5.14 tk
        Next 200-300 Per Unit Price = 5.36 tk
        Next 300-400 Per Unit Price = 5.63 tk
        Next 400-600 Per Unit Price = 8.70 tk
        Next 600 - Later Per Unit Price = 9.98 tk
       </p>

<div>
<table class="table table-hover">
    <thead>
    <tr>
      <th>Unit</th>
      <th>Bill</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">{{units}}</th>
      <td>{{total}}</td>
    </tr>
    
    <tr>
      <th>Total</th>
      <td>{{total}}</td>
    </tr>
    <tr>
      <th>With 55 taka Meter Bill</th>
      <td>{{meterbill}}</td>
    </tr>
    <tr>
      <th>Vat 5%</th>
      <td>{{vat}}</td>
    </tr>
    <tr>
      <th>Grand Total</th>
      <td>{{gtotal}}</td>
    </tr>

  </tbody></table>
</div>
{% endblock %}